@font-face {
    font-family: myFirstFont;
    src: url('/font/vazir.ttf');
}
*{
    font-family: myFirstFont;
}
body{
    margin: 0;
}
.bottomBlockNews{
    font-size: 12px;
}
.blockNews{
    background-color: #4b5563;
    margin-top: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.notification{
    z-index: 1;
    direction: ltr;
    text-align: left;
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
}
.notificationSuccess{
    background-image: linear-gradient(45deg, rgb(38, 150, 11) 51%, rgb(30, 124, 4) 100%);
    color: #f6f5f9;
}
.notificationError{
    background-image: linear-gradient(45deg, rgb(255, 36, 36) 51%, rgb(252, 0, 0) 100%);
    color: #f6f5f9;
}
.notification_progress{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #ffffff, #b0b0b0);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}
select option:nth-child(even) {
    background-color: white; /* رنگ پس زمینه سفید */
    color: black; /* رنگ متن سیاه */
}

select option:nth-child(odd) {
    background-color: #eeeeee; /* رنگ پس زمینه سیاه */
    color: black; /* رنگ متن سفید */
}
@keyframes fade-in {
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes load {
    to{
        transform: scaleX(1);
    }
}

select option{
    font-family: BBBtitr;
}

.divLabelInput {
    text-align: left;
    padding-top: 15px
}

.divInputText {
    display: flex;
    justify-content: center;
}
.divInputSubmit {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.inputText{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    border-color: #6c6c6c;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.inputTextArea{
    height: 200px;
}

/* CSS */
.inputSubmit {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #000981;
    background-image: linear-gradient(45deg, #696969 0%, #838383 51%, #2a2a2a 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.inputSubmit:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.inputSubmit:active {
    transform: scale(0.95);
}
.newsShowBlock {
    padding: 0px 10px 0px 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.hidden-div {
    display: none;
}
.rotated {
    transform: rotate(210deg);
}
.toggle-icon {
    transition: transform 0.5s ease;
    cursor: pointer;
}
.divFilter{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.titlesFilter{
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 2px;
}
.checkBoxFilters{
    display: inline;
    margin: 5px 0px 5px 0px;
    line-height: 0px;
    float: left;
}
.btnApplyFilters{
    background-color: #084800;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    width: 18%;
}


.search-container {
    padding: 10px 0px 0px 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    width: 800%;
    padding: 5px 15px 5px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-container .icon {
    position: absolute;
    left: 5px;
    font-size: 13px;
    color: #aaa;
}
